= wrap_layout :layout do
  = partial "shared/main_header"
  -# %header.main-header.post-head{cover}
  -#   %nav.main-nav.clearfix{class: cover? ? 'overlay' : nil}
  -#     - if blog_settings.logo.present?
  -#       %a.blog-logo{href: home_path}
  -#         = image_tag blog_settings.logo, alt: blog_settings.name
  -#     - if blog_settings.navigation
  -#       %a.menu-button.icon-menu{href: '#'}
  -#         %span.word Menu

  %main.content{role: :main}
    %article.post
      %header.post-header
        %h1.post-title= current_article.title
        %section.post-meta
          %time.post-date{datetime: current_article.date.strftime('%Y-%m-%d')}
            = current_article.date.strftime(blog_settings.date_format)
          - if tags?
            on #{tags}

      %section.post-content= yield
      :plain
        <!-- Begin MailChimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//appcanary.us10.list-manage.com/subscribe/post?u=303b378f377508300c0b5469a&amp;id=dc58e8f56f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Liked this? Subscribe to our newsletter!</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_303b378f377508300c0b5469a_dc58e8f56f" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

        <!--End mc_embed_signup-->


      %footer.post-footer
        - if gravatar?
          %figure.author-image
            %a.img{href: author_path, style: "background-image: url(#{gravatar})"}
              %span.hidden #{blog_author.name}'s Picture
        
        %section.author
          %h4
            %a{href: author_path(current_article)}= blog_author.name

          %p
          - if blog_author.bio.present?
            = blog_author.bio
          - else
            Read
            %a{href: author_path(current_article)} more posts
            by this author.

          - if blog_author.location.present? || blog_author.website.present?
            .author-meta
              - if blog_author.location.present?
                %span.author-location.icon-location= blog_author.location
              - if blog_author.website.present?
                %span.author-link.icon-link
                  %a{href: blog_author.website}= blog_author.website

        %section.share
          %h4 Share this post
          %a.icon-twitter{href: twitter_url, onclick: "window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"}
            %span.hidden Twitter
          %a.icon-facebook{href: facebook_url, onclick: "window.open(this.href, 'facebook-share','width=580,height=296');return false;"}
            %span.hidden Facebook
          %a.icon-google-plus{href: google_plus_url, onclick: "window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"}
            %span.hidden Google+

  %aside.read-next
    - if prev_article = current_article.previous_article
      - attributes = { href: prev_article.url }.merge(cover(prev_article))
      %a.read-next-story{attributes}
        %section.post
          %h2= prev_article.title
          %p #{read_next_summary(prev_article, 19)}&hellip;
    - if next_article = current_article.next_article
      - attributes = { href: next_article.url }.merge(cover(next_article))
      %a.read-next-story.prev{attributes}
        %section.post
          %h2= next_article.title
          %p #{read_next_summary(next_article, 19)}&hellip;

